<!DOCTYPE HTML>
<html>
<head>
    <title>BOKS - springboot</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <meta property="og:title" content="BOKS">
    <meta property="og:description" content="springboot-webservice">

    <link rel="shortcut icon" href="https://cdn2.iconfinder.com/data/icons/christmas-46/64/christmas-icon-tree-512.png">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <style>

        @font-face {
            font-family: 'GmarketSansBold';
            src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
            font-weight: normal;
            font-style: normal;
        }

        @font-face {
            font-family: 'NEXON Lv2 Gothic';
            src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic.woff') format('woff');
            font-weight: normal;
            font-style: normal;
        }

        .index-title, .post-title, .update-title, .view-title {
            font-family: 'GmarketSansBold', sans-serif;
            font-size: 36px;
            text-align: center;
            color: #13c28e;
            margin: 30px 0 20px 0;
        }

        body {
            background-color: #FAFDFA;
        }

        .google, .naver, .posting, .logout {
            font-family: 'NEXON Lv2 Gothic', sans-serif;
        }

        #user {
            font-family: 'GmarketSansBold', sans-serif;
            font-size: 15px;
            margin: 0 13px 0 5px
        }

        .table-head {
            font-family: 'GmarketSansBold', sans-serif;
            font-size: 16px;
        }

        #tbody {
            font-family: 'NEXON Lv2 Gothic', sans-serif;
        }

        .pagination > li > a {
            background-color: #F7F8F7;
            color: #000000;
        }

        .pagination > li > a:focus,
        .pagination > li > a:hover,
        .pagination > li > span:focus,
        .pagination > li > span:hover {
            color: #5a5a5a;
            background-color: #eee;
            border-color: #ddd;
        }

        .pagination > .active > a {
            color: white;
            background-color: #5A4181 !Important;
            border: solid 1px #5A4181 !Important;
        }

        .pagination > .active > a:hover {
            background-color: #5A4181 !Important;
            border: solid 1px #5A4181;
        }

        textarea {
            height: 500px;
        }
    </style>

</head>
<body>